@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 59, 9, 60;
    }
}

html,
body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    color: rgb(var(--foreground-rgb));
    background-color: #000;
    background-image: url(/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
