@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 59, 9, 60;
  }
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.katex {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
}

.katex-display {
  display: block;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  overflow-x: auto;
  overflow-y: hidden;
}
